extends ../inc/layout

block append head
    link(rel="stylesheet",href="/stylesheets/members/members.css")
block content
    div.container
        div.col-md-1
            div.pic
                img(src="http://q2.qlogo.cn/headimg_dl?bs=313088989&dst_uin=313088989&src_uin=313088989&fid=313088989&spec=100&url_enc=0&referer=bu_interface&term_type=PC")
            div.desc
                h3 程鹏
                p 
