extends ../inc/layout

block append head
    link(rel="stylesheet",href="/stylesheets/tools/tools.css")

block content
    div.container
        div.qr-maker
            div.container
                div.col-md-9.toolbox
                    h2 生成二维码
                    form
                        textarea(class="form-control J_qrText" rows="3")
                        button(type="button",class="btn btn-primary J_makeQr") 生成二维码
                div.col-md-3
                    div.qr-box.J_qrBox

    script(type="text/javascript", src="/javascripts/tools/tools.js")

