extends ../inc/layout

block content
    .container
        .pages-list
            .row
                .col-md-12
                    a.add.btn.btn-primary.create_btn.J_create(href="#", data-toggle="modal", data-target="#myModal") 创建活动页面
                    .wrapper
                        h2
                            活动页面列表
                            div.btn-group.filter(style="margin: 0 15px;")
                                button(type="button", class="btn btn-default dropdown-toggle", data-toggle="dropdown") 过滤&nbsp;
                                    span.caret
                                ul.dropdown-menu(role="menu")
                                    li.divider
                                    li.ti.ac.order-time-normal
                                        a(href="javascript:;") 按时间正序
                                    li.ti.order-time-reverse
                                        a(href="javascript:;") 按时间逆序
                        ul.main
                            each item in data
                                li
                                    div.avatar-wrapper
                                        i.avatar(data-owner='#{item.owner}')
                                        i.avatar-mask
                                    a.util-ellipsis(href="/tms/preview/#{item.pid}") #{item.name}
                                    span.util-ellipsis 作者：#{item.owner}

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#myModalLabel.modal-title 创建活动页面
                .modal-body
                    form.form-horizontal(role='form',action='/tms',method='post',class="J_addTmsForm")
                        .form-group
                            label.col-sm-3.control-label 页面名称
                            .col-sm-8
                                input.form-control(type='text',name="name")
                        .form-group
                            label.col-sm-3.control-label 创建人
                            .col-sm-8
                                input.form-control(type='text',name="owner")
                        .form-group
                            label.col-sm-3.control-label 编辑密码
                            .col-sm-8
                                input.form-control(type='password',name="password")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary(type='button', class='J_submit') 确定
                            
    script(type="text/javascript" src="/javascripts/tms/tms.js")
